.socialShare{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0;
    margin: 0;
    .container{
        background-color: gainsboro;
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        line-height:3rem;
        width: 95vw;
        margin: 0%;
        

        .url{
            overflow: scroll;
            margin: 0;
            background-color:red;
            color: white;
            span{
                width: 100%;
            }
        }
        .socialShareIcons{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            overflow: scroll;
            width: 100vw;
            span{
                margin:5px 0 5px 0;
            }
        }
    }
}